# Node
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular build output
dist/
/.angular/cache
.angular/

# IDEs and editors
.idea/
.vscode/
*.sublime*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Compiled output
out-tsc/

# Coverage
coverage/

# Misc
*.tgz

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache 